<style>
</style>


<main class="main h-full">
  <div class="flex flex-col h-full bg-gray-200">
    <app-navigation-bar class="" (showPPPChange)="handleShowPPPChange($event)" (showMapChange)="handleShowMapChange($event)"></app-navigation-bar>
    <header class="bg-white shadow">
      <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" *ngIf="showPPP">Purchasing Power Parity Calculations</h1>
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" *ngIf="showMap">World Income Map</h1>
      </div>
    </header>
    <div class="grow p-4 rounded-md shadow">
      <app-purchasing-power *ngIf="showPPP"></app-purchasing-power>
      <app-world-income-map *ngIf="showMap"></app-world-income-map>
    </div>
  </div>
</main>
