<div class="flex flex-col size-full divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="font-light bg-gray-50 px-4 py-4 sm:px-6">
        Pick a country, an amount, and a target country to compare purchasing power!
    </div>
    <div class="grow size-full flex flex-col">
        <div class="basis-1/2 flex flex-row">
            <!-- text and selection boxes -->
            <div class="flex flex-col basis-3/4 bg-blue-200">
                <div class="basis-1/2 text-center content-center">
                    hello
                </div>
                <div class="basis-1/2 text-center content-center">
                    hello
                </div>
            </div>d
            <div class="basis-1/4">
                hi
            </div>
        </div>
        <!-- Divider -->
        <div class="relative">
            <div class="absolute mx-4 inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center">
              <span class="bg-white px-3 text-base font-semibold leading-6 text-gray-900">has similar purchasing power to</span>
            </div>
        </div>

        <div class="basis-1/2">
        <!-- Content goes here -->

        </div>
    </div>
</div>

