<div>
  <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Currency Amount</label>
  <div class="relative mt-1 rounded-md shadow-sm">
      <input
        
        [ngModel]="amount"
        (input)="onUserInput($event)"
        [ngClass]="{'mb-4 text-gray-900 ring-blue-300 placeholder:text-gray-300 focus:ring-blue-500': validInput,
                    'text-red-900 ring-red-300 placeholder:text-red-300 focus:ring-red-500': !validInput}"
        class="block w-full rounded-md border-0 py-1.5 ring-inset ring-1 text-sm leading-6 focus:ring-2"
        placeholder="Money Here!" value="0">
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <svg *ngIf=!validInput class="h-4 w-4 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
  <p *ngIf=!validInput class="mt-1 text-sm text-red-600" id="email-error">Not a valid number!</p>
</div>
  