<div class="flex flex-col size-full divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="font-light bg-gray-50 px-4 py-4 sm:px-6">
        Pick a country, an amount, and a target country to compare purchasing power! (PPP data is from 2023, while Exchange Rates are updated hourly)
    </div>
    <div class="grow size-full flex flex-col">
        <div class="basis-1/2 flex flex-row">
            <!-- text and selection boxes -->
            <div class="basis-1/6 flex"></div>
            <div class="flex flex-col basis-3/4">
                <div class="basis-1/6"></div>
                <div class="basis-2/6 flex justify-center items-center font-mono">
                    You live in
                    <app-select-menu id="top-area" [areas]="getAreas()" [(selectedArea)]="topArea" (selectedAreaChange)="onTopAreaChange($event)" class="px-2"></app-select-menu>
                    and spend the currency
                    <app-select-menu id="top-currency" [areas]="getTopCurrency()" class="px-2"></app-select-menu>
                    .
                </div>
                <div class="basis-2/6 flex justify-center items-center font-mono">
                    <app-number-input-group id='top-amount'
                        [(amount)]="topAmount"
                        (amountChange)="onTopAmountChange($event)"
                        class="px-2"
                    ></app-number-input-group>
                    in your local currency
                </div>
                <div class="basis-1/6"></div>
            </div>
            <div class="basis-1/6 flex"></div>
            <!-- <div class="basis-1/4 flex flex-col">
                <div class="basis-1/2">
                    exchange rate
                </div>
                <div class="basis-1/2">
                    median income
                </div>
            </div> -->
        </div>
        <!-- Divider -->
        <div class="relative">
            <div class="absolute mx-4 inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center">
              <span class="bg-white px-3 font-mono leading-6 text-gray-900">has similar purchasing power to</span>
            </div>
        </div>

        <div class="basis-1/2 flex flex-row">
        <!-- Content goes here -->
            <!-- text and selection boxes -->
            <div class="basis-1/6 flex"></div>
            <div class="flex flex-col basis-3/4">
                <div class="basis-1/6"></div>
                    <div class="basis-2/6 flex justify-center items-center font-mono">
                        <app-number-input-group id='bottom-amount'
                            [(amount)]="bottomAmount"
                            (amountChange)="onBottomAmountChange($event)"
                            class="px-2"
                        ></app-number-input-group>
                        of the local currency
                    </div>
                    <div class="basis-2/6 flex justify-center items-center font-mono">
                        <app-select-menu id="bottom-currency" [areas]="getBottomCurrency()" class="px-2"></app-select-menu>
                        in the country
                        <app-select-menu [areas]="getAreas()" [(selectedArea)]="bottomArea" (selectedAreaChange)="onBottomAreaChange($event)" class="px-2"></app-select-menu>
                        .
                    </div>
                <div class="basis-1/6"></div>
            </div>
            <div class="basis-1/6 flex"></div>
            <!-- <div class="basis-1/4 flex flex-col">
                <div class="basis-1/2">
                    exchange rate
                </div>
                <div class="basis-1/2">
                    median income
                </div>
            </div> -->
        </div>
    </div>
</div>

